@page "/"

<PageTitle>Home</PageTitle>

<input @bind=name1 />
<button @onclick=createPlayer>Enter Player 1's name</button>

<input @bind=name2 />
<button @onclick=createPlayer>Enter Player 2's name</button>
<p></p>
<button @onclick=createGame>Create a game</button>

@code
{
    string name1;
    string name2;
    Player p1;
    Player p2;
    public void createPlayer()
    {
        p1 = new Player(name1);
        p2 = new Player(name2);
        name1 = "";
        name2 = "";
    }

    public void createGame()
    {
        if (p1 != null && p2 != null)
        {
            Game newGame = new Game(p1, p2);
        }

    }
}