@page "/play"

<PageTitle>Play</PageTitle>


@if (true)//Chess/Checkers
{
    <table>
        @for (int i = 0; i < 8; i++)
        {
            <tr>
                @for (int j = 0; j < 8; j++)
                {
                    IPiece piece = Board.GameBoard[i * 8 + j];
                    bool isOnCooldown = (piece != null && piece.OnCooldown);
                    bool isOdd = (i + j) % 2 == 0;
                    string background = isOdd ? "background-color: rgba(0,0,0,0.5);" : "";
                    background = isOnCooldown ? "background-color: rgba(255,0,0,0.1);" : background;

                    <td style=@($"{background}height: 30px; width: 30px; text-align: center;")>
                        @if (piece != null)
                        {
                            <div @onclick=@(() => MovePiece(piece))> <!--<a href="/">REQ#5.1.1</a> -->
                                @Board.GameBoard[i * 8 + j]?.Display
                            </div>  
                        }
                    </td>
                }
            </tr>

        }
    </table>
    if (!Board.GameRunning)
    {
        <label>Game Over!</label>  
        string winner = Board.Winner ? "White Wins!" : "Black Wins!";
        <p></p>
        <label>@winner</label>

    }
}
//Checkers
else
{
    <table>
        @for (int i = 0; i < 8; i++)
        {
            <tr>
                @for (int j = 0; j < 8; j++)
                {
                    IPiece piece = CheckersBoard.GameBoard[i * 8 + j];
                    bool isOnCooldown = (piece != null && piece.OnCooldown);
                    bool isOdd = (i + j) % 2 == 0;
                    string background = isOdd ? "background-color: rgba(0,0,0,0.5);" : "";
                    background = isOnCooldown ? "background-color: rgba(255,0,0,0.1);" : background;

                    <td style=@($"{background}height: 30px; width: 30px; text-align: center;")>
                        @if (piece != null)
                        {
                            <div @onclick=@(() => MovePiece(piece))> <!--<a href="/">REQ#5.1.1</a> -->
                                @CheckersBoard.GameBoard[i * 8 + j]?.Display
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </table>
}

@code
{
    void MovePiece(IPiece piece)
    {
        if (Board.GameRunning)
        {
            if (piece.Color == true)
            {
                if (piece is not MoveTile)
                {
                    Board.RemoveMoves();
                }
                piece.Move();
            }
            else if (piece.InDanger == true)
            {
                Board.RemoveMoves();
                piece.Capture();
            }
        }
    }
}